@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center my-10">
    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-6xl ">
        This page displays  the  System Statices  : Products count , Users Count , Coupons Count .
    </h1>
</div>


<div id="systemStatices"></div>


<div id="systemStatices"></div>
<script src="/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        GetStatistics();
        setInterval(GetStatistics, 5000);

    });

    function GetStatistics() {
        $.ajax({
            url: '/Dashboard/GetStatices/',
            type: 'GET',
            beforeSend: function () {
                $('#systemStatices').html('<p>Loading...</p>');
            },
            success: function (result) {
                if (result && result.data) {
                    $('#systemStatices').html(
                        `<p>Coupons  No: ${result.data.couponCount}</p>
                                     <p>Users No: ${result.data.usersCount}</p>
                                     <p>Products No: ${result.data.productsCount}</p>`
                    );
                } else {
                    $('#systemStatices').html('<p>Error: No data found</p>');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                $('#systemStatices').html('<p class="text-danger">Error fetching statistics. Please try again.</p>');
            }
        });
    }
</script>